.headLineBox {
    max-width: 1540px;
    padding: 0 50px;
    margin: 56px auto 20px;
}
.searchBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    color: #666;
}

.ant-input {
    
    height: 40px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding: 0 20px;
    border: 1px, solid, rgb(204, 204, 204);
}
.ant-btn {
    padding-bottom: 4px;
    height: 40px;
    background-color: #ffff;
    border: 1px, solid, rgb(204, 204, 204);
    border-top-right-radius:30px !important;
    border-bottom-right-radius:30px !important;
    text-align: center;
    color: rgb(155, 155, 155);
    font-weight: 500;
}