.signUpForm_row {
    margin-bottom: 18px;
    display: flex;

}
.signUpForm_tag {
    width: 35%; 
    font-size: 16px;   
    font-weight: 550;
    padding-top: 8px;
}
.signUpForm_input {
    width: 65%;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    padding: 0 20px;
    background-color: #ffff;
}
.signUpForm_selectInput {
    width: 60%;
    height: 40px;
}

.signUpForm_klipBtn {
    color: #ffff;
    background-color: #1c2d58;
    height: 40px;
    width: 100px;
    border: 1px none;
    border-radius: 30px;
}

.signUpForm_submitBox {
    padding-top: 30px;
    margin: 0 auto 0;
    max-width: 250px;
}
.signUpForm_submitBtn {
    color: #ffff;
    background: linear-gradient(to left,#1ed8a6,#1e79df);
    height: 50px;
    width: 250px;
    border: 1px none;
    border-radius: 30px;
    font-weight: 700;
    font-size: medium;
}