.holderSVL_bg {
    min-height: 85vh;
}

.holderSVL_headLineBox {
    max-width: 1540px;
    padding: 0 50px;
    margin: 56px auto 20px;
}

.holderSVL_headLine {
    font-size: 72px;
    font-weight: 500;
    color: #cccccc;
}

.holderSVL_searchBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    color: #666;
}

.holderSVL_search {
    width: 300px;
    max-width: 30vw;
    height: 40px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding: 0 20px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
}
.holderSVL_searchBtn {
    padding-bottom: 4px;
    width: 70px;
    height: 40px;
    background-color: #ffff;
    border-width: 1px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-color: rgb(204, 204, 204);
    border-left-color: #ffff;
    border-style: solid;
    text-align: center;
    color: rgb(155, 155, 155);
    font-weight: 500;
}

.holderSVL_SVL_outerbox {
    max-width: 1540px;
    padding: 50px;
    margin: 0 auto 0;
}
.holderSVL_SVL_innerbox {
    padding: 40px;
    margin: 0 auto 70px;
    border-radius: 10px;
    background-color: #ffff;
    box-shadow: 2px 1px 10px 1px rgb(0 0 0 / 10%);
    scroll-behavior: smooth;
    overflow: auto;
    scroll-snap-type: none;
    max-height: 600px;
}
.holderSVL_SVlist {
    margin: 50px 0 50px 0;
    display: flex;
}

.holderSVL_icon1 {
    height: 60px;
    width: 60px;
    font-size: 60px;
    color: #0bb38e;
}
.holderSVL_icon2 {
    height: 60px;
    width: 60px;
    font-size: 60px;
    color: #b1b1b1;
}
.holderSVL_icon3 {
    height: 60px;
    width: 60px;
    font-size: 60px;
    color: #dd8484;
}

.holderSVL_spaceBetween {
    justify-content: space-between;
    display: flex;
    width: 100%;
}
.holderSVL_verifierAndDate {
    margin: 0 20px 0 20px;
    min-width: 90px;
    
}
.holderSVL_titleAndState {
    margin: 0 20px 0 20px;
    text-align: right;
}

.holderSVL_verifierAndTitle {
    font-size: x-large;
    font-weight: 700;
}
.holderSVL_dateAndState {
    font-size: medium;
    font-weight: 500;
    color: rgb(146, 146, 146)
}