.holderVL_bg {
    min-height: 85vh;
}

.holderVL_headLineBox {
    max-width: 1540px;
    padding: 0 50px;
    margin: 56px auto 20px;
}

.holderVL_headLine {
    font-size: 72px;
    font-weight: 500;
    color: #cccccc;
}

.holderVL_searchBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    color: #666;
}

.holderVL_search {
    width: 300px;
    max-width: 30vw;
    height: 40px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding: 0 20px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
}
.holderVL_searchBtn {
    padding-bottom: 4px;
    width: 70px;
    height: 40px;
    background-color: #ffff;
    border-width: 1px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-color: rgb(204, 204, 204);
    border-left-color: #ffff;
    border-style: solid;
    text-align: center;
    color: rgb(155, 155, 155);
    font-weight: 500;
}

.holderVL_vcBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 0;
    margin-top: 50px;
}
.holderVL_btnBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 100px;
    justify-content: space-between;
    align-items: center;
}

.holderVL_btn {
    width: 150px;
    height: 40px;
    background-color: rgb(35, 29, 122);
    color: #ffff;
    font-weight: 550;
    border-radius: 30px;
}