.issuerV_bg {
    min-height: 85vh;
}

.issuerV_vcButtonBar_bg {
    padding: 0 50px 0 50px;
    margin: 0 auto 0;
    max-width: 1540px;
    display: flex;
}
.issuerV_vcButtonBar_btn {
    width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-size: 18px;
    font-weight: 550;
    border-radius: 30px;
    text-align: center;
    padding: 0px;
}
.issuerV_vcButtonBar_text {
    padding: 5px 0 5px 0;
    margin: 0;
}

.issuerV_table_margin {
    max-width: 1540px;
    padding: 0 50px;
    margin: 0 auto 40px auto;
}

.IssuerV_table_row {
    padding: 15px 0 15px 0;
    display: flex;
    text-align: center;
    font-weight: 550;
    border-bottom: 1px solid #e5e5e5;
}
.IssuerV_table_tag {
    margin: 7px 20px 0 0;
    min-width: 130px;
}
.IssuerV_table_tagText {
    font-size: 14px;
    margin-bottom: 4px;
    text-align: left;
}

.IssuerV_table_applicantBox {
    width:100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    font-size: 10px;
}
.IssuerV_table_career {
    background-color: #ffff;
    border: 1px solid rgb(58, 173, 148);
    border-radius: 20px;
    color: rgb(58, 173, 148);
    font-size: 13px;
    padding: 0 6px 0 6px;
}
.IssuerV_table_title {
    font-size: 18px;
    font-weight: 600;
    padding-left: 10px;
}
.IssuerV_table_info {
    font-size: 15px;
    font-weight: 400;
    text-align: left;
}
.IssuerV_table_submitDate {
    top: 0;
    font-size: 15px;
    font-weight: 500;
    color: rgb(209, 209, 209);
}
.IssuerV_table_icons {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 400;
    color: rgb(209, 209, 209);
}

.IssuerV_submitBox {
    padding-top: 30px;
    margin: 0 auto 40px;
    max-width: 250px;
}
.IssuerV_submitBtn {
    color: #ffff;
    background: linear-gradient(to left,#1ed8a6,#1e79df);
    height: 50px;
    width: 250px;
    border: 1px none;
    border-radius: 30px;
    font-weight: 700;
    font-size: medium;
}