.issuerVL_bg {
    min-height: 85vh;
}

.issuerVL_vcCounter_bg {
    padding-left: 50px;
    margin: 0 auto 0;
    max-width: 1540px;
}
.issuerVL_vcCounter_margin {
    width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-size: 18px;
    font-weight: 550;
    border-radius: 30px;
    text-align: center;

}
.issuerVL_vcCounter_text {
    padding: 5px 0 5px 0;
    margin: 0;
}

.issuerVL_VLbg {
    background-color: rgb(255, 255, 255);
}
.issuerVL_VLmargin {
    padding: 40px;
    max-width: 1540px;
    margin: 0 auto 0;
}

.issuerVL_VLtext {
    font-size: medium;
    font-weight: 500;
    border: 1px solid #ffff;
    border-radius: 30px;
    overflow: hidden;
}
.issuerVL_btn {
    width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-weight: 550;
    border-radius: 30px;
}
