.issuerVL_bg {
    min-height: 85vh;
}

.issuerVL_vcCounter_bg {
    padding: 0 50px 0 50px;
    margin: 0 auto 0;
    max-width: 1540px;
    display: flex;
    justify-content: space-between;
}
.issuerVL_vcCounter_Counter {
    padding: 0 10px 0 10px;
    min-width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-size: 18px;
    font-weight: 550;
    border-radius: 30px;
    text-align: center;

}
.issuerVL_vcCounter_text {
    padding: 5px 0 5px 0;
    margin: 0;
}
.issuerVL_switch {
    width: 65%;
    max-width: 400px;
    height: 40px;
    border: 1px solid #cccccc;
    border-radius: 30px;
    padding: 0 15px;
    background-color: #ffff;
}

.issuerVL_VLbg {
    background-color: rgb(255, 255, 255);
}
.issuerVL_VLmargin {
    padding: 40px;
    max-width: 1540px;
    margin: 0 auto 0;
}

.issuerVL_VLtext {
    font-size: medium;
    font-weight: 500;
    border: 1px solid #ffff;
    border-radius: 30px;
    overflow: hidden;
}
.issuerVL_btn {
    width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-weight: 550;
    border-radius: 30px;
}
