.issuerCL_bg {
    min-height: 85vh;
}

.issuerCL_headLineBox {
    max-width: 1540px;
    padding: 0 50px;
    margin: 56px auto 20px;
}

.issuerCL_headLine {
    font-size: 72px;
    font-weight: 500;
    color: #cccccc;
}
.issuerCL_headLine_minmize {
    font-size: 38px;
    font-weight: 700;
    color: #cccccc;
}

.issuerCL_searchBox {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-weight: 550;
    color: #666;
}
.issuerCL_searchBox_minmize {
    max-width: 1540px;
    padding: 0 50px 0 50px;
    margin: 0 auto 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    color: #666;
}

.issuerCL_search {
    width: 300px;
    max-width: 30vw;
    height: 40px;
    border-top-left-radius:30px;
    border-bottom-left-radius:30px;
    padding: 0 20px 0 0;
    margin: 0;
    border-color: rgb(204, 204, 204);
    border-style: solid;
}
.issuerCL_searchBtn {
    width: 70px;
    height: 40px;
    background-color: #ffff;
    border-width: 1px;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    border-color: rgb(204, 204, 204);
    border-left-color: #ffff;
    border-style: solid;
    text-align: center;
    color: rgb(155, 155, 155);
    font-weight: 500;
}
.issuerCL_addBtn {
    margin-left: 10px;
    width: 70px;
    height: 38px;
    background-color: rgb(58, 173, 148);;
    border: 1px solid rgb(58, 173, 148);
    border-radius:30px;
    text-align: center;
    color: #ffff;
    font-weight: 900;
    font-size: large;
}

.issuerCL_CLbg {
    background-color: rgb(243, 243, 243);
}
.issuerCL_CLmargin {
    padding: 40px;
    max-width: 1540px;
    margin: 0 auto 0;
}

.issuerCL_CLtext {
    font-size: medium;
    font-weight: 500;
}
.issuerCL_btn {
    width: 110px;
    height: 40px;
    background-color: rgb(58, 173, 148);
    color: #ffff;
    font-weight: 550;
    border-radius: 30px;
}
