.FAQ_bg {
    background-color: #f5f5f5;
    min-height: 70vh;
    padding-bottom: 100px;
}

.FAQ_margin {
    padding: 0 50px 0 50px;
    margin: 0 auto 0;
    max-width: 1540;
}

.FAQ_title { 
    padding: 60px 0 88px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}

.FAQ_search_warp{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}
.FAQ_select { 
    min-width: 135px;
    height: 45px;
    padding: 0 20px;
    margin-right: 10px;
    color: #424242;
    background: none;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    vertical-align: middle;
}
.FAQ_search { 
    width: 220px;
    height: 45px;
    padding-left: 20px;
    padding-right: 40px;
    color: #999;
    background: none;
    border: 1px solid #c7c7c7;
    border-radius: 4px;
    vertical-align: middle;
}

.FAQ_tab_warp { 
    border-bottom: 1px solid #c7c7c7;
    vertical-align: baseline;
}
.FAQ_tab1 { 
    border: 1px solid #c7c7c7;
    padding: 10px 20px 10px 20px;
    margin: 0 -1px -1px 0;
    background-color: #f5f5f5;
}