.terms_bg {
    background-color: #f5f5f5;
    height: 100%;
    padding-bottom: 100px;
}
.terms_margin {
    padding: 0 50px 0 50px;
    max-width: 1540px;
    margin: 0 auto 0;
    font-weight: 500;
    font-size: 16px;
}

h2.terms_title {
    padding: 60px 0 88px 0;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    text-align: center;
}
h3.terms_title {
    padding-bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    color: #111111;
}
h4.terms_title {
    padding-bottom: 24px;
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
}

.dep01 {
    padding-bottom: 36px;
    margin-bottom: 36px;
}
.dep02 {
    margin-top: 5px
}

.terms_table {
    margin-top: 20px;
    border: 1px solid #ddd;
}
.terms_table_list {
    padding: 16px 20px;
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 16px;
    text-align: left;
}